name: CI - Build & Test Backend

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET 8
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Restore
      run: dotnet restore lab5/sample-ci/backend/ProductApi/ProductApi.csproj

    - name: Build
      run: dotnet build lab5/sample-ci/backend/ProductApi/ProductApi.csproj --configuration Release --no-restore

    - name: Test
      run: dotnet test lab5/sample-ci/backend/ProductApi.Tests/ProductApi.Tests.csproj --configuration Release --no-build --no-restore --logger "trx;LogFileName=test-results.trx" --results-directory TestResults

    - name: Publish Test Results
      uses: dorny/test-reporter@v1
      if: always()
      with:
        name: Backend Unit Tests
        path: "**/TestResults/*.trx"
        reporter: dotnet-trx